Assets/AudienceNetwork/Plugins/iOS/libs/FBAudienceNetwork.framework/FBAudienceNetwork filter=lfs diff=lfs merge=lfs -text
Assets/Plugins/ios/IronSource/ISFacebookAdapter/ISFacebookAdapter.framework/ISFacebookAdapter filter=lfs diff=lfs merge=lfs -text
Assets/Plugins/ios/IronSource/ISAdMobAdapter/ISAdMobAdapter.framework/ISAdMobAdapter filter=lfs diff=lfs merge=lfs -text
